{% extends "layout.html" %}
{% block body %}
<body>
{% if valid == false%}
    <meta http-equiv="refresh" content="0;url=/">
{% endif %}
<div class="container">
    <h2 class="sub-header">{% print title %}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
        <thead>
            <tr>
                {% for head in table_head %}
                <th>{% print head %}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in content %}
                 <tr id="{% print row[0] %}">
                {% for index in row %}
                        <td>{% print index %}</td>
                {% endfor %}
                 </tr>
            {% endfor %}
                 </tbody>
                        </table>
    </div>
    {% if title %}
    <h3 class="sub-header">修改内容</h3>
    <div>
        <table class="table table-striped">
        <thead>
            <tr>
                <th>要修改的编号</th>
                <th>姓名</th>
                <th>是/否/不需要</th>
                <th>确认修改</th>
            </tr>
        </thead>
            <tbody>
            <form class="form-modify" role="form" action="/modify_data" method="POST">
            <tr>
                <th><input type="number" name="id" id="item_id" onchange="showName(this.value)"/></th>
                <th id="name_show">请输入ID</th>
                <th><select name="option">
                           <option style="width:200px">是</option>
                           <option style="width:200px">否</option>
                           <option style="width:200px">不需要</option>
                          </select></th>
                <input type="hidden" id="type" name="type">
                <th><button type="submit">提交</button></th>
            </tr>
            </form>
            </tbody>
            </table>
    </div>
    {% endif %}
</div>
<script>
     function showName(obj){
         if(obj<1){alert('你输入的数字小于1')}
         document.getElementById('name_show').innerHTML=document.getElementById(obj).firstElementChild.nextElementSibling.innerHTML.toString();
         document.getElementById('type').setAttribute("value",location.pathname.substr(1));
     }
</script>
</body>
{% endblock %}
