{% extends "layout.html" %}
{% block body %}
    <script src="/static/js/echarts.common.min.js" xmlns="http://www.w3.org/1999/html"></script>
    <style>
.col-center-block {
    float: none;
    display: block;
    margin-left: inherit;
    margin-right: inherit;
}
</style>
<body>
<div class="container">
        <center><h1 class="form-signin-heading">智慧养老系统</h1></center>
    </div>
</br>

<div class="container">
        <center><img src="/static/image/welcome.jpg" style="width:70%;height:70%"/></center>
    </div>

</body>
{% endblock %}
